<div class="main-container">
  <header class="header-6">
    <div class="branding">
        <a href="" class="nav-link">
            <clr-icon shape="vm-bug"></clr-icon>
            <span class="title">ระบบข้อมูลการเผ้าระวังการสูบบุหรี่</span>
        </a>
    </div>
    <div class="header-nav">
        <a href="javascript://" routerLink="/admin/home" routerLinkActive="active" class="nav-link "><span class="nav-text">Home</span></a>
        <a href="javascript://" routerLink="/admin/users" routerLinkActive="active" class="nav-link"><span class="nav-text">กลุ่มรายงานอื่นๆ</span></a>
       
    </div>
    <div class="header-actions">
    
        <a href="..." class="nav-link nav-icon">
            <clr-icon shape="cog"></clr-icon>
        </a>
    </div>
</header>
  <div class="content-container">
      <div class="content-area">
          <router-outlet></router-outlet>
      </div>
      <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
        <a clrVerticalNavLink routerLink="/admin/home" routerLinkActive="active">
            <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
          Home
        </a>
        <a clrVerticalNavLink routerLink="/admin/users" routerLinkActive="active">
          <clr-icon shape="user" class="has-badge"></clr-icon>
           กลุ่มรายงานอื่นๆ
        </a>
    </clr-vertical-nav>
  </div>
</div>