<div class="login-wrapper">
  <form class="login">
      <section class="title">
          <h3 class="welcome">Welcome to</h3>
          <h5 class="hint">บริหารจัดการข้อมูล</h5>
      </section>
      <div class="login-group">
          
          <input class="username" type="text" name="login_username" placeholder="Username"  [(ngModel)]="username">
          <input class="password" type="password" name="login_password" placeholder="Password" [(ngModel)]="password">
         
          <div class="error active" *ngIf="isError">
              {{txt}}
          </div>
          <button type="button" class="btn btn-primary" (click)="doLogin()" [disabled]="!username || !password">NEXT</button>
          <a href="javascript://" class="signup">Sign up for a Company ID</a>
      </div>
  </form>
</div>